backend/*.exe
backend/uploads/*
!backend/uploads/**/.gitkeep
frontend/dist/
frontend/node_modules/
mobile/build/
mobile/.dart_tool/
.idea/
*.log
.env
backend/*.json
backend/backend.err
mobile/android/app/google-services.json
